# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================

.venv/
venv/
env/

# ==========================
# Environment Variables
# ==========================

.env
.env.*

# ==========================
# SQLite
# ==========================

*.db
*.db-journal
*.sqlite
*.sqlite3

# ==========================
# Pytest
# ==========================

.pytest_cache/

# ==========================
# Ruff
# ==========================

.ruff_cache/

# ==========================
# MyPy
# ==========================

.mypy_cache/

# ==========================
# Coverage
# ==========================

.coverage
coverage.xml
htmlcov/

# ==========================
# Build
# ==========================

build/
dist/
*.egg-info/

# ==========================
# IDE
# ==========================

.vscode/
.idea/

# ==========================
# OS
# ==========================

.DS_Store
Thumbs.db